:root{
    /* Fonts */
    --main-font-family:'Poppins',
        sans-serif;
    /* Colors */
    --main-dark-color:#000;
    --main-light-color:#fff;
    --current-color: #939393;
    --main-color:#8F95A5;
    --secondary-color: #263238;
    --border-color:#c4c4c4;
    --badge-bg-color:#eeeeee;
    --badge-color:#546269;

}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    
}

/* Common styles */

.link{
    color: inherit;
    text-decoration: none;
}

.button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

.list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.section{
    background-color: var(--main-light-color);
}

.section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.67;
    color: var(--main-dark-color);
}

.current{
    color: var(--current-color);
}

.conteiner{    
    width: 1338px;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 15px;
    padding-right: 15px;

    /* @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (max-width: 575px) {
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 992px) {
        
    }

    @media screen and (max-width: 1338px) {
        width: 1338px;
    } */
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* HEADER */

.header{
    background-color: var(--main-light-color);
    padding-top: 58px;
    padding-bottom: 48px;

}

.header > .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo{
    font-size: 36px;
    line-height: 1.5;
    color: var(--main-dark-color);
}

.site-nav{

}

.nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
}



/* .nav-item + .nav-item {
    margin-left: 30px;
} */

.nav-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.nav-link:hover, .nav-link:focus{
    color: var(--main-color);
}

.header-button{
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    font-size: 24px;
    line-height: 1.5;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 17px 57px;
}

.header-button:hover, .header-button:focus{
    background: var(--secondary-color);
    color: var(--main-light-color);
}

/* HERO */

.hero-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: var(--main-dark-color);
}

.hero-description{
    font-size: 24px;
    line-height: 1.5
}

.hero-button{
    background: var(--secondary-color);
    border-radius: 15px;
    color: var(--main-light-color);
    font-size: 36px;
    line-height: 1.5;
    padding: 32px 117px;
    border-radius: 15px;
    border: 2px solid var(--secondary-color);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    /* border: 2px solid var(--secondary-color); */
}

.hero-img{

}


/* SKILLS */

.skill-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 1.67;
    color: var(--main-dark-color);
}

.skill-list{

}

.skill-item{

}

.skill-name{
    font-weight: 600;
    font-size: 30px;
    line-height: 2.67;    
    color: var(--secondary-color);

}

.skill-description{
    font-size: 16px;
    line-height: 1.5;    
    color: var(--main-color);

}

.skill-button {
    background-color: var(--secondary-color);
    color: var(--main-light-color);
    line-height: 1.5;
    padding: 15px 52px;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
}

.skill-button-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--main-light-color);
}

.skill-button:hover,
.skill-button:focus {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
}


/* About Us */


/* Pricing */


/* Contact Us */

.contakt-input{
    width: 450px;
    height: 84px;
    padding: 28px 24px;
    /* margin: 8px 0; */
    /* display: inline-block; */
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-sizing: border-box;
}

.contakt-button {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 25px 81px;
}

.contakt-button-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--main-light-color);
}

.contakt-button:hover,
.contakt-button:focus {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
}


/* Footer */

.footer-akcent{
    border-top: 2px solid var(--current-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-police{
    margin: 0;
    padding: 58px 0;
    font-size: 24px;
    line-height: 1.5;
    color: var(--main-color);
}

